*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
background-color: white;
padding: 25px;
}

header > h1{
color: #24272E;
text-align: center;
text-shadow: 2px 2px 5px grey;
font-family: Arial, Helvetica, sans-serif;
font-size: 45px;
}

body{
background-color: #24272E;
}

.scoreboard{
margin: 25px auto;
border: 5px solid white;
border-radius: 5px;
width: 300px;
color: white;
font-size: 48px;
text-align: center;
padding: 15px 20px;
font-family: Arial, Helvetica, sans-serif;
position: relative;
}

.score{
background-color: #E25840;
color: white;
font-size: 15px;
padding: 4px 10px;
font-family: Arial, Helvetica, sans-serif;
}

#user_score{
position: absolute;
top: 30px;
left: -33px;
}

#comp_score{
position: absolute;
top: 30px;
right: -50px;
}

.result_image{
position: absolute;
display: block;
top: 5px;
}

#user_hand{
left: -200px;
}

#comp_hand{
right: -200px;
}

.result{
font-size: 40px;
color: white;
}

.result >p{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.button{
position: absolute;
left: 65%;
margin: 10px;
}

.refresh-button{
padding: 10px;
text-align: center;
text-decoration: none;
display: block;
outline: none;
font-size: 12px;
float: right;
cursor: pointer;
background-color: #e7e7e7;
color: black;
border: none;
border-radius: 2px;
}

.icons{
margin: 50px;
text-align: center;
}

.choice{
border: 5px solid white;
border-radius: 50%;
padding: 12px;
margin: 0px 20px;
display: inline-block;
transition: all 0.4s ease;
}

.choice:hover{
cursor: pointer;
background: #4CAF50;
}

#play{
text-align: center;
color: white;
font-weight: bold;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}

.footer{
position: fixed;
left: 0;
bottom: 0;
padding: 5px;
width: 100%;
background-color: grey;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: black;
}
